/* Appliquer un fond noir au sous-menu au survol */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.custom-dropdown {
  background-color: #ebe6e6; /* fond noir */
  color: white;
  border: none;
}

/* Changer la couleur du texte au survol */
.custom-dropdown .dropdown-item {
  color: #575555;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #222;
  color: #f8f9fa;
}
